<nav class="navbar navbar-expand-lg">
  <div class="container-fluid py-2 px-4">
    <div class="d-flex align-items-center">
      <div class="bg-light rounded p-2" style="width: min-content">
        <img
          src="https://www.bulsu-cict.com/CICT.png"
          alt=""
          class="img-fluid"
          style="max-width: 50px"
        />
      </div>
      <div class="ms-2 d-none d-sm-block">
        <span class="h5">Bulacan State University</span>
        <br />
        <span class="text-light">College of Information and Technology</span>
      </div>
    </div>

    <button
      class="bg-dark text-light btn rounded-pill -3 px-5 fw-semibold"
      [routerLink]="['/login']"
    >
      Login
    </button>
  </div>
</nav>
<main class="100vh" style="height: ">
  <div class="row container mx-auto g-4 align-items-center">
    <div class="p-3 col-md-6">
      <span class="title m-0 p-0">CICT</span>
      <div class="" style="margin-top: -30px">
        <span class="title-sub">Curriculum Management System</span>
      </div>
      <div>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo
          turpis, ullamcorper ac congue eget, lobortis vel eros. Sed luctus,
          sapien at imperdiet ornare, justo leo elementum nulla, id consectetur
          massa ligula id ipsum. Vivamus finibus libero nulla, a porta lorem
          tempor nec. Mauris vitae nibh commodo, suscipit orci at, lobortis
          mauris. Nulla ut risus et tellus
        </span>
      </div>
    </div>
    <div class="col-md-6 rounded-4 border img-wrapper">
      <img
        src="https://pia.gov.ph/uploads/2022/10/216526d932cb76aaaa3344f01d0ce9f7-800-1200.jpeg"
        alt=""
        class="img-fluid rounded-4"
        style="transform: rotate(3deg)"
      />
    </div>
  </div>
</main>

<main>
  <div class="row container g-2 mx-auto">
    <div class="col-md-4 p-2 text-center">
      <mat-card>
        <mat-card-content>
          <div>
            <img src="assets/snap.png" alt="" style="max-width: 100px" />
          </div>
          <div class="my-3"><span class="h3">Feature</span></div>

          <div>
            nare, justo leo elementum nulla, id consectetur massa ligula id
            ipsum. Vivamus finibus libero nulla, a porta lorem tempor nec.
            Mauris vitae nibh commodo, suscipit orci at, lobortis mauris. Nulla
            ut risus et tellus
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 p-2 text-center">
      <mat-card>
        <mat-card-content>
          <div>
            <img src="assets/settings.png" alt="" style="max-width: 100px" />
          </div>
          <div class="my-3"><span class="h3">Feature</span></div>

          <div>
            nare, justo leo elementum nulla, id consectetur massa ligula id
            ipsum. Vivamus finibus libero nulla, a porta lorem tempor nec.
            Mauris vitae nibh commodo, suscipit orci at, lobortis mauris. Nulla
            ut risus et tellus
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 p-2 text-center">
      <mat-card>
        <mat-card-content>
          <div>
            <img src="assets/create.png" alt="" style="max-width: 100px" />
          </div>
          <div class="my-3"><span class="h3">Feature</span></div>

          <div>
            nare, justo leo elementum nulla, id consectetur massa ligula id
            ipsum. Vivamus finibus libero nulla, a porta lorem tempor nec.
            Mauris vitae nibh commodo, suscipit orci at, lobortis mauris. Nulla
            ut risus et tellus
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
<main></main>
<footer class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="text-center text-light p-3">
    © 2023 Adonis | All rights reserved
  </div>
</footer>

<style>
  main {
    margin-top: 5rem;
  }
  nav {
    background-color: #d05834;
  }
  .title {
    font-size: 4rem;
    font-weight: 900;
    color: #d05834;
  }
  .title-sub {
    font-size: 2rem;
    font-weight: 900;
  }
  .img-wrapper {
    border-color: #d05834 !important;
  }
</style>
